@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --main-color: #ae00ff;
    --secondary-color: #7700ff;
    --third-color: #6a00ff;
}

body {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

img {
    -webkit-user-drag: none;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.box {
    position: fixed;
    bottom: 35%;
    right: 50%;
    transform: translateX(50%);
}

.wave {
    position: absolute;
    opacity: 0.4;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    border-radius: 83%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.wave.-one {
    animation: rotate 10000ms infinite linear;
    opacity: 0.05;
    backdrop-filter: blur(15px);
    border: 2px solid var(--main-color);
}

.wave.-two {
    animation: rotate 6000ms infinite linear;
    opacity: 0.1;
    border: 3px solid var(--main-color);
}

.aur_cont {
    margin: 35px auto 0;
    display: table;
    height: auto;
    position: fixed;
    right: 1%;
    top: 15%;
}

.aur_cont .aur {
    transform: skew(-0.06turn, 18deg);
    display: block;
    width: 0;
    min-height: 122px;
    float: left;
    margin-left: 100px;
    border-radius: 5% 52% 30px 20px;
    opacity: 1;
}

.aur_cont .aur.aur_1 {
    box-shadow: var(--secondary-color) 0px 0px 100px 40px;
    margin-top: 2px;
    animation: topup 7031ms infinite linear;
}

.aur_cont .aur.aur_2 {
    box-shadow: var(--main-color) 0px 0px 100px 40px;
    margin-top: 27px;
    animation: topup 10359ms infinite linear;
}

.aur_cont .aur.aur_3 {
    box-shadow: var(--secondary-color) 0px 0px 100px 40px;
    margin-top: 27px;
    animation: topup 5515ms infinite linear;
}

.aur_cont .aur.aur_4 {
    box-shadow: var(--third-color) 0px 0px 100px 40px;
    margin-top: -30px;
    animation: topup 11580ms infinite linear;
}

.aur_cont .aur.aur_5 {
    box-shadow: var(--secondary-color) 0px 0px 100px 40px;
    margin-top: 0px;
    animation: topup 6773ms infinite linear;
}

.aur_cont .aur.aur_6 {
    box-shadow: var(--main-color) 0px 0px 100px 40px;
    margin-top: 45px;
    animation: topup 8622ms infinite linear;
}

.aur_cont .aur.aur_7 {
    box-shadow: var(--third-color) 0px 0px 100px 40px;
    margin-top: 0px;
    animation: topup 11510ms infinite linear;
}

.aur_cont .aur.aur_8 {
    box-shadow: var(--secondary-color) 0px 0px 100px 40px;
    margin-top: 5px;
    animation: topup 10258ms infinite linear;
}

.aur_cont .aur.aur_9 {
    box-shadow: var(--main-color) 0px 0px 100px 40px;
    margin-top: 9px;
    animation: topup 12160ms infinite linear;
}

.aur_cont .aur.aur_10 {
    box-shadow: var(--third-color) 0px 0px 100px 40px;
    margin-top: -27px;
    animation: topup 12931ms infinite linear;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

@keyframes topup {

    0%,
    100% {
        transform: translatey(0px);
        opacity: 0;
    }

    50% {
        transform: translatey(150px);
        opacity: 0.1;
    }

    25%,
    75% {
        opacity: 1;
    }
}

@keyframes northern {
    0% {
        transform: translate(5%, -2%);
    }

    25% {
        transform: translate(10%, 7%);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: translate(7%, -2%);
    }

    85% {
        transform: translate(6%, 3%) rotate(12deg);
    }

    100% {
        transform: none;
    }
}

.nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 25%;
    background-color: #303030;
    width: 50%;
    height: 7.5vh;
    align-items: center;
    border-radius: 30px;
}

.nav * {
    margin: 4px;
}

.nav .navImage {
    width: 32px;
    height: 32px;
    margin: 4px 6px;
    border-radius: 50%;
}

.nav hr {
    height: 100%;
    width: 2px;
    background: #646464;
    border: none;
    margin: 5px 3px;
}

.nav .navItem {
    color: var(--text-color);
    text-decoration: none;
    font-size: 26px;
}

.nav .navItem:hover {
    color: var(--main-color);
}

.page {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-me {
    width: 65vw;
    height: 80vh;
    margin: auto;
    border-radius: 14px;
    z-index: 1;
    overflow: hidden;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.39);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.container {
    width: 75vw;
    height: 80vh;
    margin: auto;
    border-radius: 14px;
    z-index: 1;
    overflow: hidden;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.39);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.popup {
    width: 100vw;
    height: 100vh;
    margin: auto;
    border-radius: 14px;
    z-index: 5;
    overflow: hidden;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.39);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.popup .popup-close {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 30px;
    box-shadow: none;
    background-color: rgba(128, 128, 128, 0.19);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .popup-close span.material-symbols-outlined {
    font-size: 20px;
}
.popup .popup-close:hover {
    border: 1px solid var(--secondary-color);
}

.pfp {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.name {
    color: var(--main-color);
    font-size: 30px;
    text-align: center;
    margin-bottom: 2px;
}

.subname {
    color: var(--text-color);
    font-size: 20px;
    text-align: center;
    margin-bottom: 3px;
}

.definition,
.description {
    color: var(--text-color);
    text-align: center;
}

.definition {
    font-size: 12px;
}

.description {
    margin: 30px;
    font-size: 15px;
}

.link {
    text-decoration: none;
    color: var(--main-color);
}

.socials-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.social {
    margin: 2px;
    color: var(--text-color);
    font-size: 48px;
    width: 48px;
    height: 48px;

    -webkit-user-drag: none;
}

.container ul {
    padding: 0;
    list-style: none;
}

.project {
    list-style: none;
    color: var(--text-color);
    padding: none;
}

.project:hover {
    color: var(--main-color);
}

.project-image {
    max-width: 85%;
    height: auto;
}

.in-progress {
    font-size: 36px;
    color: var(--text-color);
}